@page "/"

<PageTitle>Home</PageTitle>


<MudPaper Class="mb-3">
    <MudToolBar Class="d-flex justify-space-between flex-grow-1">
        <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Inherit" />
        <MudIconButton Icon="@Icons.Material.Outlined.Edit" />
        <div class="d-flex flex-grow-1 flex-column align-center">
            <MudPagination ShowFirstButton="true" ShowLastButton="true" Count="4" />
        </div>
        <MudTextField @bind-Value="SearchText" Label="Search" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Margin="Margin.Dense" AdornmentColor="Color.Primary" />
        <MudIconButton Class="ml-1" Icon="@Icons.Material.Outlined.Settings" Color="Color.Inherit" />
    </MudToolBar>
</MudPaper>

<MudGrid>
    @for (int i = 0; i < 15; i++)
    {
        <MudItem xs="12" sm="6" md="3">
            <MudCard Class="border-solid">
                <MudCardMedia Image="staticimgs/placeholder-image 1.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h6">Old Paint</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" aria-label="kek">
                        <MudImage Class="me-1" Src="/staticimgs/ICANT1x.webp"></MudImage>
                        156
                    </MudButton>
                    <MudButton Variant="Variant.Text" aria-label="cringe">
                        <MudImage Class="me-1" Src="/staticimgs/CatCringe1x.webp"></MudImage>
                        24
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    }
</MudGrid>

@code {
    public string SearchText { get; set; }
}