@inherits LayoutComponentBase

<PageTitle>IcantHumor</PageTitle>

<MudThemeProvider Theme="MyCustomTheme" IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="3" Class="d-flex justify-space-between flex-grow-1 gap-4">
        <MudStack Class="ml-3" Row="true">
            <MudImage Class="" Src="/staticimgs/ICANT1x.webp"></MudImage>
            <MudText Typo="Typo.h5">
                <b>Humor</b>
            </MudText>
        </MudStack>
        <MudStack Class="flex-grow-1 justify-space-around rounded ms-15 me-15" Row="true">
            <MudButton FullWidth="true" Target="_parent" Href="/" Variant="Variant.Text" Size="Size.Large">Home</MudButton>
@*             <MudButton FullWidth="true" Href="/Counter" Variant="Variant.Text" Size="Size.Large">Counter</MudButton>
            <MudButton FullWidth="true" Href="/FetchData" Variant="Variant.Text" Size="Size.Large">FetchData</MudButton> *@
        </MudStack>
        <AuthorizeView>
            <Authorized>
                <MudMenu ActivationEvent="@MouseEvent.MouseOver">
                    <ActivatorContent>
                        <MudAvatar Class="me-3" Color="Color.Primary">
                            @if (userViewModel == null)
                            {
                                <MudProgressCircular Color="Color.Secondary" Size="Size.Medium" Indeterminate="true" />
                            }
                            else if (userViewModel.ProfilePicture != null)
                            {
                                <MudImage Src="@userViewModel.ProfilePicture"></MudImage>
                            }
                            else
                            {
                                @userViewModel.UserName[0]
                            }
                        </MudAvatar>
                    </ActivatorContent>
                    <ChildContent>
                        @if (userViewModel == null)
                        {
                            <div class="d-flex justify-center">
                                <MudProgressCircular Color="Color.Secondary" Size="Size.Medium" Indeterminate="true" />
                            </div>
                        }
                        else
                        {
                            <MudMenuItem Href="@($"/InfoUser/{userViewModel.Id}")">Profile</MudMenuItem>    
                        }
                        <MudMenuItem OnClick="Logout">Sign Out</MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudButton Href="/SignUser" Variant="Variant.Filled" Color="Color.Primary">Sign in</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudMainContent Class="mt-3">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    [Inject]
    public NavigationManager navigationManager { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    [Inject]
    public IUsersService usersService { get; set; }

    [Inject]
    private ISnackbar Snackbar { get; set; }

    [Inject]
    private ProtectedLocalStorage LocalStorage { get; set; }

    public UserViewModel userViewModel { get; set; }

    MudTheme MyCustomTheme = new MudTheme()
    {
        PaletteDark = new PaletteDark()
        {
            AppbarText = Colors.DeepPurple.Default,
            PrimaryLighten = Colors.DeepPurple.Lighten2,
            PrimaryDarken = Colors.DeepPurple.Darken1,
            Primary = Colors.DeepPurple.Default,
            Secondary = Colors.DeepPurple.Default,
            TextSecondary = Colors.DeepPurple.Lighten5,
            TextPrimary = Colors.DeepPurple.Lighten4,
            TextDisabled = Colors.DeepPurple.Darken1,
            Tertiary = Colors.DeepPurple.Lighten5,
            //ActionDefault = Colors.DeepPurple.Default,
            //Surface = Colors.DeepPurple.Default,
        },
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await authenticationState;
            if (authState.User.Identity.IsAuthenticated)
            {
                userViewModel = await usersService.GetUserByName(authState.User.Identity.Name);  
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Some shit happend in the server, info: {ex.Message}", Severity.Error);
        }
    }

    private async Task Logout()
    {
        await LocalStorage.DeleteAsync("ICANTHUMOR512");
        navigationManager.NavigateTo("/", true);
    }
}